@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato',sans-serif;
}

h1 {
    position: relative;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(120%,-50%);
    z-index: 2;
}

.btn {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-ghost {
    border: 0;
    background: transparent;
}

.clear {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.cards {
    perspective: 1000px;
    position: relative;
    width: 500px;
    height: 300px;
    max-width: 100%;
}

.card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    opacity: 0;
    transform: translateX(50%) rotateY(-10deg);
    transition: transform 0.4s ease;
}

.card.active {
    cursor: pointer;
    opacity: 1;
    z-index: 10;
    transform: translateX(0) rotateY(0);
}

.card.left {
    transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    transition: tramsform 0.4s ease;
}

.card.show-answer .inner-card {
    transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.inner-card-front {
    transform: rotateX(0deg);
    z-index: 2;
}
.inner-card-back {
    transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
    content: '\f021  Flip';
    font-size: 16px;
    font-weight: bold;
    font-family: 'Font Awesome 5 Free', Lato, sans-serif;
    color: #ddd;
    position: absolute;
    top: 10px;
    right: 10px;
}